################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0-windows
/obj
/bin/Release/net6.0-windows
/bin/Debug/net7.0-windows
/CSharpWpfYouTube.csproj.user
/bin/Release
/bin/Debug/net8.0-windows
